ejemploClienteSOAP/xml-resources/web-service-references/Calculadora/wsdl/localhost_8084/EjemploWebServiceSOAP/Calculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejemplo.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejemplo.org/" name="Calculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://ejemplo.org/" schemaLocation="http://localhost:8084/EjemploWebServiceSOAP/Calculadora?xsd=1" />
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<message name="suma">
<part name="parameters" element="tns:suma" />
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse" />
</message>
<message name="update">
<part name="parameters" element="tns:update" />
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse" />
</message>
<message name="delete">
<part name="parameters" element="tns:delete" />
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse" />
</message>
<message name="insert">
<part name="parameters" element="tns:insert" />
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse" />
</message>
<portType name="Calculadora">
<operation name="hello">
<input wsam:Action="http://ejemplo.org/Calculadora/helloRequest" message="tns:hello" />
<output wsam:Action="http://ejemplo.org/Calculadora/helloResponse" message="tns:helloResponse" />
</operation>
<operation name="suma">
<input wsam:Action="http://ejemplo.org/Calculadora/sumaRequest" message="tns:suma" />
<output wsam:Action="http://ejemplo.org/Calculadora/sumaResponse" message="tns:sumaResponse" />
</operation>
<operation name="update">
<input wsam:Action="http://ejemplo.org/Calculadora/updateRequest" message="tns:update" />
<output wsam:Action="http://ejemplo.org/Calculadora/updateResponse" message="tns:updateResponse" />
</operation>
<operation name="delete">
<input wsam:Action="http://ejemplo.org/Calculadora/deleteRequest" message="tns:delete" />
<output wsam:Action="http://ejemplo.org/Calculadora/deleteResponse" message="tns:deleteResponse" />
</operation>
<operation name="insert">
<input wsam:Action="http://ejemplo.org/Calculadora/insertRequest" message="tns:insert" />
<output wsam:Action="http://ejemplo.org/Calculadora/insertResponse" message="tns:insertResponse" />
</operation>
</portType>
<binding name="CalculadoraPortBinding" type="tns:Calculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="suma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="delete">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insert">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Calculadora">
<port name="CalculadoraPort" binding="tns:CalculadoraPortBinding">
<soap:address location="http://localhost:8084/EjemploWebServiceSOAP/Calculadora" />
</port>
</service>
</definitions>